UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
ADMIN_TOKEN=
TOKEN_HASH_SECRET=
ADMIN_SESSION_SECRET=
SITE_URL=https://www.originle.co.uk
LAUNCH_DATE=2026-08-25
PUBLIC_SUBMISSIONS_ENABLED=false
PAYMENTS_ENABLED=false
RESEND_API_KEY=
MODERATION_EMAIL=
FROM_EMAIL=Originle <notifications@originle.co.uk>
